.body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  /*align-items: center;*/
}

.nav_bar {
  width: 100%;
  background-color: rgb(85, 23, 142);
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
